.header {
    background-color: #121212;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 75px;
    padding: 10px 15px;
    top: 0;
    z-index: 10;
}

.back-forward {
    display: flex;
    align-items: center;

    color: gray;
}

.arrow-back-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: black;
    border-radius: 50%;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.arrow-back, .arrow-forward {
    font-size: 20px !important;
    font-weight: 50 !important;
}

.arrow-forward-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background-color: black;
    border-radius: 50%;

    width: 30px;
    height: 30px;
}

.button-signin > button {
    /* font-weight: bold; */
    border: 0;
    cursor: pointer;
    background-color: none;
    outline: none;
    background-color: transparent;
}

.button-signin > button:hover {
    transform: scale(1.1);
}

.button-signin > .sign-up {
    color: white;
    margin-right: 10px;
}

.button-signin > .log-in {
    color: black;
    background-color: white;
    padding: 10px;
    width: 100px;
    border-radius: 25px;
    font-weight: 600;
}